[Unit]
Description=Poruch database and uploads backup
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/opt/poruch-app/ops/backup.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
