[Unit]
Description=Daily Poruch backup

[Timer]
OnCalendar=*-*-* 02:35:00 Europe/Kyiv
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
